.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  border: none;
  border-radius: 4px;
  padding: 10px 32px;

  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  transition: background-color var(--effect-duration) var(--timing-function);
}

.hero__button {
  &:hover,
  &:focus {
    background-color: var(--background-button);
  }
}
